#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(94, 194, 162);

}
.back{
  margin:30px;
  background-color: rgb(132, 210, 184);
}
.options-select{
  margin:20px;
  background-color: rgb(132, 210, 184);
}
